body{
    background-color: #F3E5D8;
}

.principal{
    background-color: #FFFFFF;
}

.modo-preparo{
    color: #783A53;
}

.cores-chamativas-titulos{
    color: #804233;
    font-size: 20px;
    font-weight: 800;
}

